body {
    background-color: #121212;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.placar-geral {
    display: flex;
    align-items: center;
    background: #16213e;
    padding: 15px 40px;
    border-radius: 50px;
    margin-bottom: 30px;
    border: 2px solid #822de4;
    box-shadow: 0 0 20px rgb(132, 71, 245);
}

.ponto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.label {
    font-size: 0.7rem;
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

#score-player, #score-computer {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace; /* Fonte estilo digital */
    color: #1cf11c;
}

.separador {
    font-size: 2rem;
    color: white;
    margin-bottom: -15px;
}

.arena {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.card {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 150px;
    border: 3px solid #333;
    transition: 0.3s;
}

.escolha-imagem {
    font-size: 80px;
    margin-top: 20px;
}

.vs-container {
    text-align: center;
}

#resultado-texto {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    min-width: 200px;
    border-bottom: 4px solid #e94560;
}

.controles button {
    padding: 15px 25px;
    margin: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #e94560;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

.controles button:hover {
    background: #ff5e78;
    transform: scale(1.1);
}

/* Cores dinâmicas para o vencedor */
.ganhou { border-color: #4ecca3 !important; box-shadow: 0 0 40px #4ecca3; }
.perdeu { border-color: #e94560 !important; box-shadow: 0 0 20px #e94560; }
.empate { border-color: #ffffff !important; box-shadow: 0 0 20px #ffffff; }
